@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

body {
    background-color: rgb(194, 194, 194);
}

.h1 {
    margin-left: 18.5%;
    margin-top: 1%;
    font-size: 200px;
    font-family: playfair display;
    color: rgb(46, 46, 46);
    z-index: 9999999999999;
    width: 1550px;
    animation: autoShow;
    animation-timeline: view(0% 100%);
}

@keyframes autoShow{
    from{
        opacity: 1;
        transform: translateY(0px) scale(1);
    }to{
        opacity: 0;
        transform: translateY(200px) scale(1);
    }
}

.p1 {
    text-align: center;
    font-size: 20px;
    bottom: 10%;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-style: italic;
    animation: autoShow;
    animation-timeline: view(0% 90%);
    color: rgb(46,46,46);
}

.container {
    margin-bottom: 1%;
    height: 790px;
}

.star {
    position: absolute;
    margin-left: 39%;
    margin-top: 5%;
    z-index: 999999999999;
    animation: autoRotate;
    animation-timeline: view();
}

@keyframes autoRotate{
    from{
        transform: rotate(0deg);
    }
    to{
        transform: rotate(360deg);
    }
}

.star img {
    width: 350px;
}

.hand {
    margin-left: 28.5%;
}

.p {
    color: rgb(102, 102, 102);
    position: absolute;
    text-align: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    width: 50%;
    margin-left: 22%;
    margin-bottom: 50%;
}

.limitline {
    border: 1px solid rgb(46,46,46);
    width: 50%;
    margin-left: 22%;
    margin-top: 10%;
}

.startrek {
    position: absolute;
    margin-left: 42%;
    z-index: 999999999999;
    margin-bottom: 1%;
}

.startrek img {
    width: 150px;
}

.Brave {
    margin-top: 4%;
    margin-left: 29%;
    font-family: playfair;
    font-style: italic;
    font-weight: 600;
    font-size: 180px;
    animation: autoBlur linear both;
    animation-timeline: view();
    color: rgb(46,46,46);
}

.Dream {
    margin-top: 0.1%;
    margin-left: 39%;
    font-family: playfair;
    font-style: italic;
    font-weight: 600;
    font-size: 180px;
    animation: autoBlur linear both;
    animation-timeline: view();
    color: rgb(46,46,46);
}

.Smile {
    margin-top: 0.1%;
    margin-left: 50%;
    font-family: playfair;
    font-style: italic;
    font-weight: 600;
    font-size: 180px;
    animation: autoBlur linear both;
    animation-timeline: view();
    color: rgb(46,46,46);
}

.Peace {
    margin-top: 0.1%;
    margin-left: 39%;
    font-family: playfair;
    font-style: italic;
    font-size: 180px;
    animation: autoBlur linear both;
    animation-timeline: view();
    color: rgb(46,46,46);
}

.Focus {
    margin-top: 0.1%;
    margin-left: 29%;
    font-family: playfair;
    font-style: italic;
    font-weight: 600;
    font-size: 180px;
    animation: autoBlur linear both;
    animation-timeline: view();
    color: rgb(46,46,46);
    margin-bottom: 5%;
}

@keyframes autoBlur {
    0% {
        filter: blur(48px);
    }
    45%, 55%{
        filter: blur(0);
    }
    100%{
        filter: blur(48px);
    }
}

.verticaline {
    position: absolute;
    height: 150px;
    width: 1px;
    border: solid rgb(46, 46, 46) 1px;
    margin-left: 47%;
    margin-bottom: 1%;
}

.textContainer {
    position: absolute;
    margin-top: 10%;
    margin-left: 6%;
    width: 90%;
    height: 500%;
}

.braveText {
    width: 1550px;
    color: rgb(46, 46, 46);
}

.braveText h1 {
    font-size: 55px;
    font-family: playfair;
    font-style: italic;
}

.braveText p {
    font-size: 27.5px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.dreamText {
    width: 1550px;
    color: rgb(46, 46, 46);
    margin-top: 10%;
}

.dreamText h1 {
    font-size: 55px;
    font-family: playfair;
    font-style: italic;
}

.dreamText p {
    font-size: 27.5px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.smileText {
    width: 1550px;
    color: rgb(46, 46, 46);
    margin-top: 10%;
}

.smileText h1 {
    font-size: 55px;
    font-family: playfair;
    font-style: italic;
}

.smileText p {
    font-size: 27.5px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.peaceText {
    width: 1550px;
    color: rgb(46, 46, 46);
    margin-top: 10%;
}

.peaceText h1 {
    font-size: 55px;
    font-family: playfair;
    font-style: italic;
}

.peaceText p {
    font-size: 27.5px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.focusText {
    width: 1550px;
    color: rgb(46, 46, 46);
    margin-top: 10%;
}

.focusText h1 {
    font-size: 55px;
    font-family: playfair;
    font-style: italic;
}

.focusText p {
    font-size: 27.5px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.dreamText, .smileText, .peaceText, .braveText, .focusText {
    opacity: 0; /* Default untuk animasi */
    animation: slideInFromLeft 1.5s ease-in-out forwards;
    animation-timeline: view();
}

@keyframes slideInFromLeft {
    0% {
        opacity: 0;
    }
    45% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}

/* Tombol scroll ke atas */
.scroll-top {
    display: none;
    position: fixed;
    bottom: 20px;
    right: 20px;
    background-color: transparent;
    color: #fff;
    border: 1px solid transparent;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.35);
    padding: 16px 18px;
    border-radius: 50%;
    cursor: pointer;
    font-size: 20px;
    transition: all 0.3s ease;
}

.scroll-top:hover {
    border-color: #fff;
    box-shadow: none;
}

/* Scrollbar */
::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    background: rgb(194,194,194);
}

::-webkit-scrollbar-thumb {
    background: #888;
    border-radius: 60px;
}

::-webkit-scrollbar-thumb:hover {
    background: #555;
}
